- id: DapurAutoLight
  alias: Kitchen lights on/off based on motion
  trigger:
    - platform: state
      entity_id: binary_sensor.dapur
      to: 'on'
    - platform: state
      entity_id: binary_sensor.dapur
      to: 'off'
      for:
        minutes: 1
        seconds: 1
  condition:
    - condition: numeric_state
      entity_id: sensor.ambient_light
      below: '2'
  action:
    service_template: >
      {% if trigger.to_state.state == "on" %}
      homeassistant.turn_on
      {% elif trigger.to_state.state == "off" %}
      homeassistant.turn_off
      {% endif %}
    entity_id: light.lampu_dapur
- id: SunsetLightOn
  alias: Turn on light when sun sets
  initial_state: true
  hide_entity: false
  trigger:
    platform: sun
    event: sunset
    offset: -00:10:00
  action:
  - service: light.turn_on
    entity_id: group.external_lights
  - service: notify.notifyRPM
    data:
      title: Sunset
      message: Lampu dihidupkan
  - service: notify.notifyHtml5
    data:
      title: Sunset
      message: Lampu luar dihidupkan
- id: SunriseLightOff
  alias: Turn off light when sun rises
  initial_state: true
  hide_entity: false
  trigger:
    platform: sun
    event: sunrise
    offset: -00:15:00
  action:
  - service: light.turn_off
    entity_id: group.external_lights
  - service: notify.notifyRPM
    data:
      title: Sunrise
      message: Lampu dimatikan
  - service: notify.notifyHtml5
    data:
      title: Sunrise
      message: Lampu luar dimatikan
- id: PingPongBot
  alias: Ping Pong Bot
  trigger:
    platform: event
    event_type: telegram_command
    event_data:
      command: /ping
  action:
  - service: notify.notifyRPM
    data:
      title: Yuk
      message: pong
- id: AlarmWarn
  alias: Alarm Warning
  trigger:
  - entity_id: alarm_control_panel.house
    platform: state
    to: warning
  action:
  - data:
      message: Warning dari sensor {{states.alarm_control_panel.house.attributes.changed_by}}
      title: Alarm Warning
    service: notify.notifyRPM
- id: AlarmOn
  alias: Alarm Triggered
  trigger:
  - platform: state
    entity_id: alarm_control_panel.house
    to: triggered
  action:
  - service: notify.notifyRPM
    data:
      title: Alarm Triggered
      message: Trigger dari sensor {{states.alarm_control_panel.house.attributes.changed_by}}
- id: SunElevationDark
  alias: Sun Elevation Dark
  trigger:
  - below: '2'
    entity_id: sun.sun
    platform: numeric_state
    value_template: '{{ state.attributes.elevation }}'
  action:
  - data:
      message: Sun elevation at below 2
    service: notify.notifyHtml5
- id: UpdateAvailableNotif
  alias: Update Available Notifications
  trigger:
    platform: state
    entity_id: updater.updater
  action:
  - service: notify.notifyRPM
    data:
      message: Update for Home Assistant is available.
  - service: notify.notifyHtml5
    data:
      message: Update for Home Assistant is available.
