- id: forward_persistent_notifications
  alias: Forward Persistent Notifications
  initial_state: 'on'
  trigger:
  - platform: event
    event_type: call_service
    event_data:
      domain: persistent_notification
      service: create
  action:
  - service: notify.notifyRPM
    data_template:
      message: "{% set message = trigger.event.data.service_data.message %} {% if\
        \ 'invalid authentication' in message or 'login attempts' in message %}\n\
        \  {{ message }}: http://www.ip-tracker.org/locator/ip-lookup.php?ip={{ message.split('from\
        \ ')[1] }}\n{% else %}\n  {{ message }}\n{% endif %}"
- id: AlarmStatus
  alias: Alarm Status
  trigger:
  - event_data:
      command: /alarmstat
    event_type: telegram_command
    platform: event
  condition:
  - condition: state
    entity_id: group.input_booleans
    state: 'On'
  action:
  - data:
      message: Alarm {{states.alarm_control_panel.house.state}} dengan trigger terakhir
        dari sensor {{states.alarm_control_panel.house.attributes.changed_by}}. Gerakan
        terakhir terdeteksi di {{states.sensor.template_last_motion.state}} pada {{states.sensor.template_last_motion.last_updated}}
        atau {{(as_timestamp(now())-as_timestamp(states.sensor.template_last_motion.last_updated))
        | int /60}} menit yang lalu
      title: Alarm
    service: notify.notifyRPM
- id: ArmAway
  alias: Alarm Arm Away
  trigger:
    platform: event
    event_type: telegram_command
    event_data:
      command: /armaway
  action:
  - service: alarm_control_panel.alarm_arm_away
    data:
      entity_id: alarm_control_panel.house
  - service: notify.notifyRPM
    data:
      title: Alarm
      message: Alarm armed away
- id: ArmHome
  alias: Alarm Arm Home
  trigger:
    platform: event
    event_type: telegram_command
    event_data:
      command: /armhome
  action:
  - service: alarm_control_panel.alarm_arm_home
    data:
      entity_id: alarm_control_panel.house
  - service: notify.notifyRPM
    data:
      title: Alarm
      message: Alarm armed home
- id: AlarmDisarm
  alias: Alarm Disarm
  trigger:
    platform: event
    event_type: telegram_command
    event_data:
      command: /disarm
  action:
  - service: alarm_control_panel.alarm_disarm
    data:
      entity_id: alarm_control_panel.house
  - service: notify.notifyRPM
    data:
      title: Alarm
      message: Alarm disarmed
- id: TurnOnTahajudLight
  alias: Turn On Tahajud light
  trigger:
  - platform: time
    at: 02:00:00
  condition:
  - condition: state
    entity_id: device_tracker.90187c1b4a88
    state: home
  action:
  - service: homeassistant.turn_on
    entity_id:
    - light.eyang
    data:
      transition: 180
      brightness: 255
      color_name: white
- id: RPMhome
  alias: I am home
  trigger:
  - platform: state
    entity_id: device_tracker.nyamuk_rpmedge
    from: not_home
    to: home
  condition:
  - condition: sun
    after: sunset
  action:
  - service: homeassistant.turn_on
    entity_id:
    - light.rpm
    data:
      transition: 180
      brightness: 255
      color_name: white
- id: WakeUpRPM
  alias: Wake Me Up
  trigger:
  - platform: time
    at: 05:15:00
  condition:
  - condition: state
    entity_id: device_tracker.nyamuk_rpmedge
    state: home
  action:
  - service: homeassistant.turn_on
    entity_id:
    - light.rpm
    data:
      transition: 180
      brightness: 255
      color_name: white
- id: GoToSleepRPM
  alias: Time To Sleep
  trigger:
  - platform: state
    entity_id: input_boolean.turn_off_light
    to: 'on'
  condition:
  - condition: state
    entity_id: device_tracker.nyamuk_rpmedge
    state: home
  action:
  - service: homeassistant.turn_off
    entity_id:
    - light.rpm
    data:
      transition: 180
- id: DarkTheme
  alias: Turn On Dark Theme
  trigger:
  - entity_id: input_boolean.dark_theme
    platform: state
    to: 'on'
  action:
  - service: frontend.set_theme
    data:
      name: midnight
- id: DefaultTheme
  alias: Turn Off Default Theme
  trigger:
  - entity_id: input_boolean.dark_theme
    platform: state
    to: 'off'
  action:
  - service: frontend.set_theme
    data:
      name: default
- id: DarkThemeAuto
  alias: Turn On Dark Theme at Sunset
  trigger:
  - platform: sun
    event: sunset
  action:
  - service: frontend.set_theme
    data:
      name: midnight
- id: DefaultThemeAuto
  alias: Turn Off Dark Theme at Sunset
  trigger:
  - platform: sun
    event: sunrise
  action:
  - service: frontend.set_theme
    data:
      name: default
- id: PingPongBot
  alias: Ping Pong Bot
  trigger:
  - event_data:
      command: /ping
    event_type: telegram_command
    platform: event
  action:
  - data:
      message: pong
      title: Yuk
    service: notify.notifyRPM
  condition:
  - condition: state
    entity_id: group.input_booleans
    state: 'On'
- id: AlarmWarn
  alias: Alarm Warning
  trigger:
  - entity_id: alarm_control_panel.house
    platform: state
    to: warning
  action:
  - data:
      message: Warning dari sensor {{states.alarm_control_panel.house.attributes.changed_by}}
      title: Alarm Warning
    service: notify.notifyRPM
- id: AlarmOn
  alias: Alarm Triggered
  trigger:
  - platform: state
    entity_id: alarm_control_panel.house
    to: triggered
  action:
  - service: notify.notifyRPM
    data:
      title: Alarm Triggered
      message: Trigger dari sensor {{states.alarm_control_panel.house.attributes.changed_by}}
- id: UpdateAvailableNotif
  alias: Update Available Notifications
  trigger:
    platform: state
    entity_id: updater.updater
  action:
  - service: notify.notifyRPM
    data:
      message: Update for Home Assistant is available.
  - service: notify.notifyHtml5
    data:
      message: Update for Home Assistant is available.
