homeassistant:
  # Name of the location where Home Assistant is running
  name: Home
  # Location required to calculate the time the sun rises and sets
  latitude: !secret lat
  longitude: !secret long
  # Impacts weather/sunrise data (altitude above sea level in meters)
  elevation: 23
  # metric for Metric, imperial for Imperial
  unit_system: metric
  # Pick yours from here: http://en.wikipedia.org/wiki/List_of_tz_database_time_zones
  time_zone: Asia/Jakarta

# Show links to resources in log and frontend
#introduction:

# Enables the frontend
frontend:

# Enables configuration UI
config:

http:
  # Uncomment this to add a password (recommended!)
  api_password: !secret web_password
  # Uncomment this if you are using SSL or running in Docker etc
  base_url: !secret url
  cors_allowed_origins:
    - https://google.com
    - https://home-assistant.io
  use_x_forwarded_for: True
  trusted_networks:
    - 127.0.0.1
    - !secret trusted1
    - !secret trusted2
  ip_ban_enabled: True
  login_attempts_threshold: 5

# Checks for available updates
# Note: This component will send some information about your system to
# the developers to assist with development of Home Assistant.
# For more information, please see:
# https://home-assistant.io/blog/2016/10/25/explaining-the-updater/
updater:
  # Optional, allows Home Assistant developers to focus on popular components.
  include_used_components: true

#device_tracker:
      
# Discover some devices automatically
discovery:

# MQTT mosquito
mqtt:
  broker: localhost
  port: 1883
  client_id: home-assistant-1
  keepalive: 60
  username: !secret mqtt_user
  password: !secret mqtt_password
  protocol: 3.1
  #tls_insecure: True
  #tls_version: 1.2
  
# Allows you to issue voice commands from the frontend in enabled browsers
conversation:
# config recorder #monitor db size
recorder:
  purge_days: 1
  include:
    domains:
      - sensor
      - switch
      - light
      - binary_sensor
    entities:
      - group.awesome_people
  exclude:
    entities:
      - sensor.average_load_15m
      - sensor.average_load_1m
      - sensor.average_load_5m
      - sensor.cpu_use
      - sensor.date
      - sensor.date__time
      - sensor.disk_use_
      - sensor.last_boot
      - sensor.moon
      - sensor.pws_alerts
      - sensor.pws_feelslike_c
      - sensor.pws_heat_index_c
      - sensor.pws_observation_time
      - sensor.pws_precip_1d_mm
      - sensor.pws_precip_today_metric
      - sensor.pws_pressure_mb
      - sensor.pws_relative_humidity
      - sensor.pws_solarradiation
      - sensor.pws_temp_c
      - sensor.pws_temp_high_1d_c
      - sensor.pws_temp_low_1d_c
      - sensor.pws_uv
      - sensor.pws_visibility_km
      - sensor.pws_weather
      - sensor.pws_weather_1d_metric
      - sensor.pws_weather_1n_metric
      - sensor.pws_weather_2d_metric
      - sensor.pws_weather_2n_metric
      - sensor.pws_weather_3d_metric
      - sensor.pws_weather_3n_metric
      - sensor.pws_weather_4d_metric
      - sensor.pws_weather_4n_metric
      - sensor.pws_wind_dir
      - sensor.pws_wind_gust_1d_kph
      - sensor.pws_wind_gust_kph
      - sensor.ram_free
      - sensor.time
      - sun.sun

# Enables support for tracking state changes over time.
history:

# View all events in a logbook
logbook:

# Track the sun
sun:

# Weather Prediction
#sensor:
#  platform: yr

#Sensors
# Text to speech
tts:
  platform: google

telegram_bot:
  - platform: webhooks
    api_key: !secret telegram_bot_api_key
    parse_mode: html
    allowed_chat_ids:
      - !secret rpmEdge_chat_id

binary_sensor: !include binary_sensors.yaml
notify: !include notify.yaml
sensor: !include sensors.yaml
light: !include lights.yaml
switch: !include switches.yaml
device_tracker: !include device_tracker.yaml
group: !include groups.yaml
automation: !include automations.yaml
zone: !include zones.yaml